* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.products {
    margin-top: 20px;
}

.products-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}